---
export interface Props {
  count: number
}
const {count} = Astro.props

function handleClick() {
  console.log(count)
}
---
<div>
  counter {count}
  <button onClick={handleClick}>click</button>
</div>